<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs | <%= title %></title>
</head>
<body>
    <%- include('./partials/nav.ejs')%>
   
    <div class="blogs content">
        <h1>All Blogs</h1>
        <% if(blogs.length > 0){ %>
            <% blogs.forEach(blogs => { %>
                <a class="single" href="/blogs/<%= blogs._id %>">
                <h3 class="title"><%= blogs.title %></h3>
            <p class="snippet"><%= blogs.snippets %></p>
        </a>
           <% })%>
        <%} else {%>
            <p>There  are no blogs to display</p>
            <%}%>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>